extends template/main

block variables
	- var title = 'Главная страница'

block content
	.breadcrumbs_block
		.container
			.row
				ul.breadcrumbs
					+breadcrumbs-item('Главная >','#')
					+breadcrumbs-item('Статья')