@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('../fonts/Manrope-SemiBold.eot');
  src: url('../fonts/Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-SemiBold.svg#Manrope-SemiBold') format('svg'),
       url('../fonts/Manrope-SemiBold.ttf') format('truetype'),
       url('../fonts/Manrope-SemiBold.woff') format('woff'),
       url('../fonts/Manrope-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-Regular';
  src: url('../fonts/Manrope-Regular.eot');
  src: url('../fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Regular.svg#Manrope-Regular') format('svg'),
       url('../fonts/Manrope-Regular.ttf') format('truetype'),
       url('../fonts/Manrope-Regular.woff') format('woff'),
       url('../fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-Medium';
  src: url('../fonts/Manrope-Medium.eot');
  src: url('../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Medium.svg#Manrope-Medium') format('svg'),
       url('../fonts/Manrope-Medium.ttf') format('truetype'),
       url('../fonts/Manrope-Medium.woff') format('woff'),
       url('../fonts/Manrope-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-Light';
  src: url('../fonts/Manrope-Light.eot');
  src: url('../fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Light.svg#Manrope-Light') format('svg'),
       url('../fonts/Manrope-Light.ttf') format('truetype'),
       url('../fonts/Manrope-Light.woff') format('woff'),
       url('../fonts/Manrope-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-ExtraLight';
  src: url('../fonts/Manrope-ExtraLight.eot');
  src: url('../fonts/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-ExtraLight.svg#Manrope-ExtraLight') format('svg'),
       url('../fonts/Manrope-ExtraLight.ttf') format('truetype'),
       url('../fonts/Manrope-ExtraLight.woff') format('woff'),
       url('../fonts/Manrope-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('../fonts/Manrope-ExtraBold.eot');
  src: url('../fonts/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-ExtraBold.svg#Manrope-ExtraBold') format('svg'),
       url('../fonts/Manrope-ExtraBold.ttf') format('truetype'),
       url('../fonts/Manrope-ExtraBold.woff') format('woff'),
       url('../fonts/Manrope-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-Bold';
  src: url('../fonts/Manrope-Bold.eot');
  src: url('../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Manrope-Bold.svg#Manrope-Bold') format('svg'),
       url('../fonts/Manrope-Bold.ttf') format('truetype'),
       url('../fonts/Manrope-Bold.woff') format('woff'),
       url('../fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}